# Віртуальне оточення
sp/
.env
zk/

# Кеші Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

venv/

# IDE / редактори
.vscode/
.idea/

db.sqlite3

settings.py
Dockerfile
docker-compose.yml
data.json
documentation.txt

copy\