{% extends "base.html" %}
{% load ftl %}
{% load static %}
{% block title_meta %}
{% ftlconf bundle="main.ftl_bundles.main_bundle" %}
  <!-- Сторінка "Про нас" -->
  <title>{% ftlmsg "aboutus_title" %}</title>
  <meta name="description"
    content="{% ftlmsg "description_about" %}">
{% endblock title_meta %}
{% block content %}
{% ftlconf bundle="main.ftl_bundles.main_bundle" %}
    <main>
      <section class="top100">
        <div class="container top100">
          <h1>{% ftlmsg "aboutus_title" %}</h1>
          <h2>{% ftlmsg "description_aboutus" %}</h2>
        </div>
      </section>
{% endblock content %}


   