{% extends "base.html" %}
{% load ftl %}
{% load static %}
{% load menu_tags%}
{% block title_meta %}
{% ftlconf bundle="main.ftl_bundles.main_bundle" %}
<title>{% ftlmsg "site_title_index" %}</title>
<meta name="description" content="{% ftlmsg  'site_descrp_index' %}">

{% endblock title_meta %}
{% block content %}
{% ftlconf bundle="main.ftl_bundles.main_bundle" %}
{% load mathfilters %}
<main>
  <h1 class="sr-only">{% ftlmsg "h1_index" %}</h1>
  <section  class="hero">
    <img src="{% static './img/Без заголовка 55 1.png' %}" alt="hero">
    <div class="hero-lb">
      <img src="{% static './img/у.png' %}" class="letter">
      <img src="{% static './img/л.png' %}" class="letter ml5">
      <img src="{% static './img/ь.png' %}" class="letter">
      <img src="{% static './img/о.png' %}" class="letter">
      <img src="{% static './img/т.png' %}" class="letter">
    </div>
    <div class="rb-hero-index">
      <img src="{% static './img/IMG_3038.PNG' %}" alt="десерт">
      <div class="zero_white">
        <img src="{% static './img/zero_white.png' %}" alt="logo">
      </div>
    </div>
    <div class="stars">
      <div id="star1"><img src="{% static './img/зірка сайт 2.svg' %}" alt="star"></div>
      <div id="star2"><img src="{% static './img/зірочка1.svg' %}" alt="star"></div>
      <div id="star3"><img src="{% static './img/зірочка1.svg' %}" alt="star"></div>
      <div id="star4"><img src="{% static './img/зірочка3.svg' %}" alt="star"></div>
      <div id="star5"><img src="{% static './img/зірка5.png' %}" alt="star"></div>
    </div>
  </section>
  <section id="hero-mb">
<img src="{% static './img/hero-mb.png' %}" alt="">
  </section>
  <section id="new-product-section">
    <div class="container">
      <h2 class="title-section">{% ftlmsg "news_index" %}</h2>
      <ul class="news-product-item" id="news-product">

        {% for new in new_products %}
        <li class="product-card">
          <a href="{% url 'goods:product' product_slug=new.slug %}" class="product-link" style="border-radius: 16px; ">
            <div class="product-img">
              {% if new.image_url %}
              <img src="{{ new.image_url }}" alt="{{ new.name }}">
              {% else %}
              <img src="{% static './img/images-not-found.jpg' %}" alt="{{ new.name }}">
              {% endif %}
            </div>

            <div class="product-info">
              <h3 class="product-title">{{ new.name }}</h3>
              <p class="product-weight">{{new.weight|mul:1000|floatformat:0}}{% ftlmsg "measure_unit" %}</p>

            </div>
            </a>
            <div class="df">
              <div class="product-price">
                {{ new.price }}<span class="product-price-uah">{% ftlmsg "currency" %}</span>
              </div>
              <a class="add-to-cart-btn" href="{% url "carts:cart_add" product_slug=new.slug %}">
                <img src="{% static './img/+.svg' %}" alt="add to cart">
              </a>
            </div>
        </li>
        {% endfor %}
      </ul>
      <a href="{% url 'goods:catalog' %}" id="show-all-btn"> {% ftlmsg "all_goods_base" %}</a>


    </div>
  </section>
  <section id="favlist">
    <div class="container">
      <h3 class="title-section">{% ftlmsg "likes_base" %}</h3>
      <ul class="favlist-list" id="favlist-products">

        {% for random in random_products %}
        <li class="product-card">
          <a href="{% url 'goods:product' product_slug=random.slug %}" class="product-link">
            <div class="product-img">
              {% if random.image_url %}
              <img src="{{ random.image_url }}" alt="{{ random.name }}">
              {% else %}
              <img src="{% static './img/images-not-found.jpg' %}" alt="{{ random.name }}">
              {% endif %}
            </div>
            <div class="product-info">
              <h3 class="product-title">{{ random.name }}</h3>
              <p class="product-weight">{{random.weight|mul:1000|floatformat:0}}{% ftlmsg "measure_unit" %}</p>
              </a>
              <div class="product-cart">
                <div class="product-price">
                  {{ random.price }}
                  <span class="product-price-uah">{% ftlmsg "currency" %}</span>
                </div>
                <a class="add-to-cart-btn" href="{% url "carts:cart_add" product_slug=random.slug %}" >
                <img src="{% static './img/+.svg' %}" alt="add to cart">
              </a>
              </div>
            </div>
          
          {% endfor %}
        </li>
      </ul>
      <div class="mb150">
        <a href="{% url 'goods:catalog' %}" id="show-all-btn"> {% ftlmsg "all_goods_base" %}</a>
      </div>
    </div>
    </section>
      <script>
    const oSrc = "{% static 'img/о.png' %}";
  </script>

  
  <script src="{% static './js/index.js' %}"></script>
  {% endblock content %}