{% load static %}
{% load mathfilters %}
{% load ftl %}
{% ftlconf bundle="goods.ftl_bundles.goods_main" %}

{% for cart in carts %}
<div class="cart-item">

    <div class="cart-img">
        {% if cart.product.image_url %}
            <img src="{{ cart.product.image_url }}" alt="{{ cart.product.name }}">
        {% else %}
            <img src="{% static 'img/images-not-found.jpg' %}" alt="{{ cart.product.name }}">
        {% endif %}
    </div>
<div class="cart-info"> 
    <div class="cart-top-info">
        <h3 class="cart-title">{{ cart.product.name }}</h3>

        <a href="{% url 'carts:cart_remove' cart.id %}" class="remove-from-cart">
            <img src="{% static 'img/delete.svg' %}" alt="delete">
        </a>
    </div>

    <p class="cart-weight">
        {{ cart.product.weight|mul:1000|floatformat:0 }}{% ftlmsg "measure_unit" %}
    </p>

    <div class="cart-bottom">
        <div class="cart-price">
            {{ cart.product_prace }} {% ftlmsg "currency_catalog" %}
        </div>
            <div class="cart-controls">
        <!-- <span>Кількість: {{ cart.quantity }}</span> -->

        <form action="{% url 'carts:cart_change' cart.id %}" method="post">
            {% csrf_token %}
            <button type="submit" name="action" value="minus"><img src="{% static './img/minus.svg' %}" alt="minus"></button>
            <input type="number" value="{{ cart.quantity }}" readonly class="quantity-input">
            <button type="submit" name="action" value="plus"><img src="{% static './img/+.svg' %}" alt="plus"></button>
        </form>
    </div>

    </div>

</div>
</div>
{% empty %}
<p>{% ftlmsg "carts_empty" %}</p>
{% endfor %}

