{% extends "base.html" %}
{% load ftl %}
{% load static %}
{% load carts_tag %}

{% block title_meta %}
{% ftlconf bundle="goods.ftl_bundles.goods_main" %}
<title>{% ftlmsg "title_cart" %}</title>
<meta name="description" content="{% ftlmsg " description_cart" %}">
{% endblock title_meta %}

{% block content %}
{% ftlconf bundle="goods.ftl_bundles.goods_main" %}
{% user_carts request as carts %}

<main>
  <section class="top100">
    <div class="container top100 cart-container">
      <ul class="nav-product">
        <li><a href="{% url 'main:index' %}">{% ftlmsg "btn_index_us" %}</a><img
            src="{% static './img/Frame.svg' %}" alt="na"></li>
        <li><a href="{% url 'goods:catalog' %}" class="menu-link">{% ftlmsg "you_cart_cart" %}</a></li>
      </ul>
      <h1>{% ftlmsg "you_cart_cart" %}</h1>
      <div class="cart-block"  id="cart-root" data-order-type="{{ request.session.order_type|default:'' }}">
          <div id="cart-list">
            {% if carts %}
            {% include "carts/includes/included_cart.html" %}
            {% else %}
            {% include "carts/includes/empty_included_cart.html" %}
            {% endif %}
          </div>

  </section>
</main>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

    const phoneInput = document.querySelector('input[name="phone"]');
    if (phoneInput) {
        phoneInput.addEventListener('input', (e) => {
            let digits = e.target.value.replace(/\D/g, '');
            if (!digits.startsWith('380')) digits = '380' + digits.replace(/^38|^3/, '');
            digits = digits.substring(0, 12);
            e.target.value = '+' + digits;
        });
    }
});
</script>
{% endblock content %}

