{% extends "base.html" %}
{% load ftl %}
{% load static %}
{% block title_meta %}
{% ftlconf bundle="goods.ftl_bundles.goods_main" %}
<title>{% ftlmsg "title_product" %}</title>
<meta name="description" content="{% ftlmsg 'description_product' %}">
{% endblock title_meta %}
{% block content %}
{% ftlconf bundle="goods.ftl_bundles.goods_main" %}
{% load mathfilters %}
{% load carts_tag %}
<main>
  <h1 class="sr-only">{% ftlmsg "hi_product" %}</h1>
  <section id="product-page" class="top100">
    <div class="container top100">
      <ul class="nav-product">
        <li><a href="{% url 'main:index' %}">{% ftlmsg "btn_index_catalog" %}</a><img
            src="{% static './img/Frame.svg' %}" alt=""></li>
        <li><a href="{% url 'goods:catalog' %}">{% ftlmsg "btn_all_prod_catalog" %}</a><img
            src="{% static './img/Frame.svg' %}" alt=""></li>
      </ul>
      <div class="product-main">
        <div class="product-gallery">
          {% if product.image_url %}
          <img class="product-image" src="{{ product.image_url }}" alt="{{ product.name }}">
          {% else %}
          <img src="{% static './img/images-not-found.jpg' %}" alt="{{ product.name }}">
          {% endif %}
        </div>
        <div class="product-info">
          <h1 class="product-title">{{product.name}}</h1>
          <div class="product-price">
            <div class="uah-product-price">{{product.price}}
            </div>
            <div class="currency">{% ftlmsg "currency_catalog" %}</div>
          </div>
          <!-- Склад продукту -->
          <div class="product-composition">
            <h4>{% ftlmsg "ingredients_product" %}</h4>
            <p class="product-ingredients">{{product.description}}</p>
          </div>

          <div class="product-nutrition">
            <h4>{% ftlmsg "additional_info_product" %}</h4>
            <ul class="nutrition-list">
              <li>{{product.additional_info}}</li>
            </ul>
          </div>

          <div class="product-size">
            {% if variants|length > 1 %}
            {# Якщо варіантів більше одного, виводимо заголовок і кнопки #}
            <h4>{% ftlmsg "size_product" %}</h4>
            <div class="size-options">
              {% for variant in variants %}
              <a href="{{ variant.get_absolute_url }}" class="size-btn"
                style="{% if variant.id == product.id %} background-color: #ff69b4; color: white; {% endif %}">
                {{ variant.weight|mul:1000|floatformat:0 }}
              </a>
              {% endfor %}
            </div>
            {% else %}
            {# Якщо розмір лише один, виводимо просто текст із вагою #}
            <div class="single-size">
              <span>{% ftlmsg "vaga_cart" %} {{ product.weight|mul:1000|floatformat:0 }} г</span>
            </div>
            {% endif %}
          </div>
<div class="product-actions">
  <div class="quantity">
    <form action="{% url 'carts:cart_add' product.slug %}" method="post">
      {% csrf_token %}
      <button type="submit" name="action" value="minus">-</button>
      
      <span>{% get_cart_quantity product request %}</span> 
      
      <button type="submit" name="action" value="plus">+</button>
    </form>
  </div>
</div>

            </div>
              {% comment %} <a class="add-to-cart" href="{% url "carts:cart_add" product_slug=product.slug %}">
                <img src="{% static './img/+.svg' %}" alt="add to cart">
              </a> {% endcomment %}
            {% comment %} <button class="add-to-cart">{% ftlmsg "add_to_cart" %}</button> {% endcomment %}
          </div>
        </div>

      </div>
      <!-- Опис продукту -->
      <div class="product-description">
        <h4>{% ftlmsg "about_product" %}</h4>
        <p class="product-desc">{{product.about_product}}</p>
      </div>
      <div class="mb150">
  </section>
  <!-- Може сподобатися -->
  <section id="favlist">
    <div class="container">
      <h3 class="title-section">{% ftlmsg "likes_goods" %}</h3>
<ul class="favlist-list" id="favlist-products">
  {% for random in random_products %}
  <li class="product-card">
    <a href="{% url 'goods:product' product_slug=random.slug %}" class="product-link">
      <div class="product-img">
        {% if random.image_url %}
          <img src="{{ random.image_url }}" alt="{{ random.name }}">
        {% else %}
          <img src="{% static 'img/images-not-found.jpg' %}" alt="{{ random.name }}">
        {% endif %}
      </div>

      <div class="product-info">
        <h3 class="product-title">{{ random.name }}</h3>
        <p class="product-weight">
          {{ random.weight|mul:1000|floatformat:0 }}{% ftlmsg "measure_unit" %}
        </p>

        <div class="product-cart">
          <div class="product-price">
            {{ random.price }}
            <span class="product-price-uah">{% ftlmsg "currency_catalog" %}</span>
          </div>
                        <a class="add-to-cart" href="{% url "carts:cart_add" product_slug=random.slug %}">
                <img src="{% static './img/+.svg' %}" alt="add to cart">
              </a>
          {% comment %} <button class="add-to-cart">
            <img src="{% static 'img/+.svg' %}" alt="add to cart">
          </button> {% endcomment %}
        </div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
      <a href="{% url 'goods:catalog' %}" id="show-all-btn"> {% ftlmsg "all_goods_product" %}</a>
    </div>
  </section>





  {% endblock content %}