{% for product in products %}
<div class="product-card" data-slug="{{ product.slug }}">
  <a href="{% url 'goods:product' product_slug=product.slug %}" class="product-link">

    <div class="product-img">
      {% if product.image_url %}
        <img src="{{ product.image_url }}" alt="{{ product.name }}">
      {% else %}
        <img src="{% static './img/images-not-found.jpg' %}" alt="{{ product.name }}">
      {% endif %}
    </div>

    <div class="product-info">
      <h3 class="product-title">{{ product.name }}</h3>
      <p class="product-weight">{{ product.weight|mul:1000|floatformat:0 }}{% ftlmsg "measure_unit" %}</p>
      <div class="index-product-nutrition">{% ftlmsg "additional_info_product" %} {{ product.additional_info }}</div> 
    </div>

  </a>

  <div class="product-catalog-btn">
    <div class="product-price">
      {{ product.price }}
      <div class="product-price-uah">{% ftlmsg "currency_catalog" %}</div>
    </div>

    <a class="add-to-cart-btn" href="javascript:void(0);" onclick="addToCart('{{ product.slug }}', this)" data-name="{{ product.name }}">
      <img src="{% static './img/add-to-cart.svg' %}" alt="add to cart">{% ftlmsg "catalog_add_cart" %}
    </a>

    <a class="add-to-cart-btn-m" href="javascript:void(0);" onclick="addToCart('{{ product.slug }}', this)" data-name="{{ product.name }}">
      <img src="{% static './img/add-to-cart.svg' %}" alt="add to cart">
    </a>

    <div class="product-to-cart" hidden>
      <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="2" height="9.51978" rx="1" transform="matrix(-0.804551 0.593884 0.593884 0.804551 1.60913 5)" fill="white"/>
        <rect x="14.686" width="2" height="16.3096" rx="1" transform="rotate(36.4331 14.686 0)" fill="white"/>
      </svg>
    </div>
  </div>
</div>
{% endfor %}
